body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 20%;
}

header{
    background-color: lightgray;
    padding: 35px 30px;
    text-align: center;
}

header p{
    font-size: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

section{
    border: 1px solid lightgray;
    padding: 20px 30px;
    margin-bottom: 30px;
}